include LICENSE *.rst *.toml *.yml *.yaml *.txt

# tests
include tox.in

# from suggested includes by check-manifest
include *.py
recursive-include src *.py

# linting
include .flake8

# examples
recursive-includes examples *.pt
